/* table */

.MuiTableCell-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}
.table td,
th {
  border: none !important;
}
.table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 7px !important;
  border-radius: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .table {
    width: 170%;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}
